.uploaded-wrapper {
  margin: 30px;
  .list-wrapper {
    .list-header {
      margin: 10px;
    }
    .waited-list {
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
      }
    }

    .uploaded-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      grid-auto-rows: 250px;
      grid-gap: 20px; /* 列之间的间隔，也可以使用 grid-column-gap 和 grid-row-gap 分别设置行和列的间隔 */

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #313a46;
        padding: 22px;
        flex-direction: column;
        border-radius: 5px;
        &-img {
          height: 70%;
          width: auto;
          display: block;
          margin: 0 auto;
          cursor: pointer;
        }
        &-error {
          height: 70%;
          width: auto;
          display: flex;
          align-items: center;
        }
        &-name {
          font-size: 13px;
          padding: 10px 0;
          display: inline-block;
          background-color: #fff;
          width: 250px;
          white-space: pre-wrap;
          word-break: break-all;
        }
        &-url {
          cursor: pointer;
          border: 1px solid #404c5a;
          padding: 5px;
          border-radius: 5px;
          input {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}
.progress-container {
  width: 225px;
  height: 15px;
  background-color: #f1f1f1;
  border-radius: 15px;
  margin: 15px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 15px;
  transition: width 1s ease-in-out;
  background-image: linear-gradient(to right, #4caf50, #7ed321, #8bc34a);
}

.dividing-line {
  background-color: #ddd;
  height: 2px;
  width: calc(100vw - 100px);
  margin: 20px;
}
